<div class="backdrop">
  <div id="main" class="container">
    <div class='row'>

      <div class='col-xs-3'>
        <div id="sidebar"></div>
      </div>

      <div class='col-xs-9'>
        <div id="panel"></div>
      </div>

    </div>
  </div>
</div>
<script>$(Trello.initialize);</script>
