<div class='col-xs-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'><%= list.escape('title') %></div>
    <ul class='list-group'>
      <div id='cards'></div>
      <div id='cards-form'></div>
    </ul>
</div>
