<div class='list-item'>
  <div class='list-title'><strong><%= list.escape('title') %></strong></div>
    <div class='card-wrapper' data-id='<%= list.escape('id') %>'></div>
    <div id='card-form-<%= list.escape('id') %>'></div>
</div>
