/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.navbar{
  background-color: #1E628A;
  border-color: #1E628A;

}

.card-wrapper {
  min-height: 10px;
}

input.card-form{
   display: block;
   margin: 1px;
   border: 1px solid #555;
   border-color: white;
   padding: 0.5em;
   font-size: 15px;
   line-height: 1.2em;
   height: 75px;
   width: 241px;
   background: #fff;
   -webkit-appearance: none;
   -webkit-box-shadow: 0px 0px 0px #fff;
   -webkit-border-radius: 3px;
 }

.card-item {
  border-style: solid;
  border-radius: 3px;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  margin: 3px;
  word-wrap: break-word;
}

.add-card-btn {
  background-color: #E3E3E3;
  opacity: 1.0;
  text-indent: 10px;
  border-radius: 2px;
  color:  #C3C3C3;
  width: 245px;
  // color: #BFBFBF;
}

.add-card-btn:hover{
  background-color: #C3C3C3;
  color: black;
}

.list-item {
  border-style: solid;
  background-color: #E3E3E3;
  border-color: #E3E3E3;
  border-radius: 5px;
  max-width: 250px;
}

.list-wrapper-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

body {
  padding-top: 60px;
  background-color: rgb(35, 113, 159);
  overflow-x: auto;
  white-space: nowrap;
  // color: white;
}
